{% extends 'base.html.twig' %}

{% block title %}Consultar CEP{% endblock %}

{% block body %}
<div class="alert alert-danger" role="alert">
    <h3>Erro ao consultar o CEP: {{ data }}</h3>
    <p>O CEP informado não é válido.</p>
    <a class="btn btn-primary" href="{{ path('consultar') }}">Tentar novamente</a>
</div>
{% endblock %}